<% if !user_signed_in?%>
  <% controller.redirect_to "/" %>
<% end %>

<section id="new_post_container" >
			<%= form_for @post, :html => {:id => 'new_post', :class => 'class'} do |form| %>
				<%= form.text_area :message, placeholder: "What's on your mind?"  %>
				<%= form.file_field :avatar %>
				<div id="new_post_button">
					<i class="fas fa-pencil-alt"></i>
					<%= form.submit 'Post', class: %w(blank_btn)%>
				</div>
			<% end %>
		</section>




