<%= link_to new_post_path do %>
  New post
<% end %>


<% @posts.each do |post| %>
  <p><%= post.message   %></p>
  <p><%= post.created_at %></p>
  <%= link_to "Edit post", edit_post_path(post.id) %>
<% end %>



