/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;1,200;1,400&display=swap');
 *{
	 margin:0;
	 padding:0;
	 font-family: 'Montserrat', sans-serif;
 }
 body{
	 height:100vh;
 }
 .container{
	 display:grid;
	 grid-template-columns: 2fr 1fr;
 }
 .titleAndTag{
	 grid-column: 1/2;
 }
 #iobook_logo{
	 background-image: url('../images/IOBOOK_logo.png');
 }
 .loginContainer{
	 grid-column: 2/3;
 }
